<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> Cerrar </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!editMode"> Nuevo Lugar </ion-title>
    <ion-title *ngIf="editMode"> Editar Lugar </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <form name="eventPlaceForm" [formGroup]="eventPlaceForm">
          <ion-item class="rounded-item">
            <ion-label position="floating"> Nombre: </ion-label>
            <ion-input autocomplete="name" formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item class="rounded-item">
            <ion-label position="floating"> Dirección Completa: </ion-label>
            <ion-input autocomplete="address" formControlName="address" type="text"></ion-input>
          </ion-item>
          <ion-item class="rounded-item">
            <ion-label position="floating"> Latitud: </ion-label>
            <ion-input autocomplete="latitude" formControlName="latitude" type="text"></ion-input>
          </ion-item>
          <ion-item class="rounded-item">
            <ion-label position="floating"> Longitud: </ion-label>
            <ion-input autocomplete="longitude" formControlName="longitude" type="text"></ion-input>
          </ion-item>
          <ion-item class="rounded-item">
            <ion-label position="floating"> Provincia: </ion-label>
            <ion-select formControlName="province">
              <ion-select-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </form>
        <div class="container">
          <error-display [isShown]="invalid(name)" [fieldLabel]="'Nombre'" [control]="name"></error-display>
          <error-display [isShown]="invalid(address)" [fieldLabel]="'Dirección'" [control]="address"></error-display>
          <error-display [isShown]="invalid(latitude)" [fieldLabel]="'Latitud'" [control]="latitude"></error-display>
          <error-display [isShown]="invalid(longitude)" [fieldLabel]="'Longitud'" [control]="longitude"></error-display>
          <error-display [isShown]="invalid(province)" [fieldLabel]="'Provincia'" [control]="province"></error-display>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border ion-hide-lg-up">
  <ion-toolbar class="ion-no-padding">
    <ion-row *ngIf="!editMode">
      <ion-col size="12">
        <ion-button (click)="createAction()" expand="full" shape="round" color="primary"> Crear </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editMode">
      <ion-col size="6">
        <ion-button (click)="updateAction()" expand="full" shape="round" color="primary"> Actualizar </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="deleteAction()" expand="full" shape="round" color="danger"> Eliminar </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>