ion-segment-button {
  ion-label {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.customer-benefits {
  background: url("src/assets/images/auth/create-account-background.jpg") center/cover;
  height: 100vh;
  box-shadow: 0 10px 15px rgba(var(--ion-color-black-rgb), .4);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(var(--ion-color-black-rgb), .1);
}