ion-card {
  img {
    width: 400px;
    height: 170px;
  }
}

.icon-info {
  position: relative;
  font-size: 16px;
  top: 3px;
}

.icon-without-margin {
  margin-right: 12px;
}

capacitor-google-maps {
  display: inline-block;
  width: 100%;
  height: 160px;
  border-radius: 5px;
}