ion-content {
  --background: url(/assets/images/intro/photoparty1.jpeg);

  h1 {
    margin-top: 3em;
    color: white;
    font-size: 36px;
  }

  p {
    margin-top: 3em;
    color: white;
    font-size: 18px;
  }
}