<ion-row>
  <ion-col size="6">
    <ion-row>
      <ion-col size="12">
        <ion-item class="rounded-item">
          <ion-input type="text" placeholder="Nombre de la tanda" value="{{ name }}" (ionChange)="changeNameValue($event)"></ion-input>  
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="6">
    <ion-row class="ion-no">
      <ion-col size="2">
        <span class="price-symbol">$</span>
      </ion-col>
      <ion-col size="10">
        <ion-item class="rounded-item">
          <ion-input type="number" placeholder="Precio" max="99999" min="0" maxlength="4" value="{{ price }}" (ionChange)="changePriceValue($event)" ></ion-input>
          <ion-icon name="trash-outline" color="danger" slot="end" (click)="deleteItemAction()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
