<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar *ngIf="role === 'productor'">
		<ion-title class="ion-text-center"> Mis Eventos </ion-title>
		<ion-buttons slot="end">
			<ion-icon class="add-button" (click)="createNewEvent()" name="add-circle-outline" color="primary"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar *ngIf="role !== 'productor'">
		<ion-row>
			<ion-col class="ion-no-padding" size="10">
				<ion-searchbar showCancelButton="focus" placeholder="Buscar evento"></ion-searchbar>
			</ion-col>
			<ion-col class="ion-no-padding" size="2">
				<ion-icon class="filter-icon" name="filter-circle-outline"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
  </ion-refresher>
	<ion-grid class="ion-padding">
		<ion-row>
			<ion-col *ngFor="let event of events" size="12" class="ion-no-padding">
				<event-card
					[eventId]="event.id"
					[eventName]="event.title"
					[eventDate]="event.date"
					[eventImage]="event.imagePath"
					[eventPlace]="event.place.name"
					[eventOrganizator]="event.productor.displayName"
					(cardClickedEventAction)="openEventDetail($event)"
				>
				</event-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>