.icon-without-margin {
  margin-right: 12px;
}

.price {
  color: green;
  font-weight: 500;
}

.service-charge {
  font-size: 14px;
  span {
    font-weight: 300;
  }
}

.total {
  color: blueviolet;
  font-weight: 500;
  font-size: 18px;
}