<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title> Carrito de compras </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="eventData">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card *ngIf="availableRrpps">
        <ion-item>
          <ion-label> Asignar RRPP? </ion-label>
          <ion-checkbox color="primary" slot="end" (click)="enableRrppSelector()"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="showRrppSelector">
          <ion-label> Seleccione: </ion-label>
          <ion-select (ionChange)="onSelectRrpp($event)">
            <ion-select-option *ngFor="let rrpp of availableRrpps" [value]="rrpp.id" (click)="onSelectRrpp(rrpp.id)">{{ rrpp.fullName }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle> Tickets disponibles <ion-icon class="icon-info" name="ticket-outline"></ion-icon> </ion-card-subtitle>
        </ion-card-header>
        <ion-item *ngFor="let item of eventData.prices">
          <ion-label class="ion-text-capitalize"> {{ item.name }} <span class="price">${{ item.price }}</span></ion-label>
          <ion-input class="ion-text-end" placeholder="0" type="number" min="0" max="31" maxlength="30" (ionChange)="ticketQuantityChange(item, $event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-end service-charge"> <span>Service charge: </span> ${{ serviceChargeValue }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-end total">Total: ${{ totalWithCommissions }}</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle> Metodo de pago </ion-card-subtitle>
        </ion-card-header>
        <ion-item *ngIf="paymentInfo">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-uppercase"> {{ getPaymentMethodName(paymentInfo.payment_type) }} </ion-label>
        </ion-item>
        <ion-item *ngIf="paymentInfo">
          <ion-icon name="arrow-forward-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-uppercase"> {{ getCreditCardFormat(paymentInfo.card_number) }} </ion-label>
        </ion-item>
        <ion-item *ngIf="paymentInfo">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-capitalize"> {{ paymentInfo.holder_full_name }} </ion-label>
        </ion-item>
        <ion-row class="ion-text-center">
          <ion-col size="12">
            <ion-button *ngIf="!paymentInfo" expand="block" fill="outline" (click)="openPaymentMethodModal()"> Agregar metodo de pago </ion-button>
            <ion-button *ngIf="paymentInfo" expand="block" fill="outline" color="danger" size="small" (click)="deleteMethodPayment()"> Borrar metodo de pago </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <div class="container">
        <error-display [isShown]="showCartEmptyError" [customMessage]="'empty_cart'"></error-display>
        <error-display [isShown]="showPaymentInformationEmptyError" [customMessage]="'empty_payment'"></error-display>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="checkoutAction()"> Finalizar compra </ion-button>
  </ion-toolbar>
</ion-footer>