<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Categorías de Eventos </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="add-button" (click)="openCategoryModal()" name="add-circle-outline" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="light-gray-background">
  <ion-row class="ion-padding-top">
    <ion-col size="12" class="ion-no-padding" *ngFor="let category of categories">
      <card-item-component
        [id]="category.id"
        [name]="category.name"
        (editEventAction)="editCategory($event)"
      ></card-item-component>
    </ion-col>
  </ion-row>
</ion-content>