<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Configuraciones </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
	<ion-list class="ion-padding-top" lines="full">
    <ion-item *ngIf="role === 'admin'" button="true" type="button" detail="false" (click)="openPage('profile/categories')">
      Categorías de eventos
      <ion-icon name="albums-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item *ngIf="role === 'admin'" button="true" type="button" detail="false" (click)="openPage('profile/places')">
      Lugares de eventos
      <ion-icon name="locate-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item *ngIf="role === 'productor'" button="true" type="button" detail="false" (click)="openPage('profile/rrpps')">
      RRPP Autorizados
      <ion-icon name="people-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item *ngIf="role === 'admin'" button="true" type="button" detail="false" (click)="openPage('profile/users')">
      Usuarios Productores
      <ion-icon name="people-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item *ngIf="role === 'productor'" button="true" type="button" detail="false" (click)="openPage('profile/users')">
      Usuarios Verificadores
      <ion-icon name="shield-checkmark-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item button="true" type="button" detail="false" (click)="openPage('profile/terms-and-conditions')">
      Términos y condiciones
      <ion-icon name="document-text-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item button="true" type="button" detail="false" (click)="openPage('profile/faq')">
      FAQ
      <ion-icon name="help-circle-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="logout-button" button="true" type="button" detail="false" (click)="logoutAction()">
      Cerrar sesión
      <ion-icon name="exit-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>